Makefile
Makefile.in
TODO
aclocal.m4
autom4te.cache/
autoscan*.log
build-aux
compile
config.guess
config.h
config.h.in*
config.log
config.status
config.sub
configure
depcomp
goptfoo.pc
install-sh
lib/.deps
lib/.libs
lib/Makefile
lib/Makefile.in
lib/goptfoo.lo
lib/libgoptfoo.la
libtool
ltmain.sh
m4
man/Makefile
man/Makefile.in
missing
stamp-h1
